<!--<h1>Good Morning</h1>
<button class="btn btn-primary">sample</button>
<app-saveproductdata></app-saveproductdata>
<app-getproductdata></app-getproductdata>-->
<div>
    <ul style="list-style: circle;">
    <li style="float: left;">-->
    <!--<a class="btn btn-primary" href=""></a>-->
    <a class="btn btn-info" href="/userlogin">User Login</a>-->
    <a class="btn btn-info" href="/signup">Signup (for new user)</a>
    </li>
    <li style="float: right;">-->
    <a class="btn btn-info" href="/adminlogin">Admin Login</a>

    </li>
    </ul>
</div>

<!--<app-home></app-home>-->
<!--<app-userlogin></app-userlogin>-->
<!--<app-saveuserdata></app-saveuserdata>-->
<!--<app-adminlogin></app-adminlogin>-->
<!--<app-updateproduct></app-updateproduct>-->
<!--<app-home></app-home>-->
<!--<app-saveproductdata></app-saveproductdata>-->
<router-outlet></router-outlet>